<!DOCTYPE html>
<html lang="en">
{%block head%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Shri{% endblock title %}</title>
    {%block fonts%}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    {%endblock fonts%}

    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block scripts %}
    {% endblock scripts %}
  </head>
{% endblock head%} 


{% block content %}
  <body>
  </body>
{% endblock content %}
</html>
