<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify your login</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; background-color: black; color: white;">
    <table role="presentation"
      style="width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: black; color: white;">
      <tbody>
        <tr>
          <td align="center" style="padding: 1rem 2rem; vertical-align: top; width: 100%;">
            <table role="presentation" style="max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;">
              <tbody>
                <tr>
                  <td style="padding: 40px 0px 0px;">
                    <div style="text-align: center;">
                      <div>
                        <img src="https://github.com/IAMKKD-1/Shri/blob/main/ShriWebsite/static/images/Shri_Colourful.png?raw=true"
                          alt="Shri Logo" style="width: 70px; height: 70px;"></div>
                    </div>
                    <div style="background-color:black;">
                      <div style="color: white; text-align: center;">
                        <h1 style="margin: 1rem 0">Verification code</h1>
                        <p style="padding-bottom: 16px">Please use the verification code below to reset your password.</p>
                        <p style="padding-bottom: 16px; color: #fda700;"><strong style="font-size: 130%">{otp}</strong></p>
                        <p style="padding-bottom: 16px">If you did not request for password reset, ignore this email.</p>
                        <p style="padding-bottom: 16px">Thanks,<br>Shri.live</p>
                      </div>
                    </div>
                    <div style="padding-top: 20px; color: #fda700; text-align: center;">
                      <p style="padding-bottom: 16px">Made with &#x2665; in India</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>