<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Chat - Shri AI</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
         rel="stylesheet"
         />
      <link
         rel="stylesheet"
         type="text/css"
         href="{{url_for('static', filename='css/style-home.css')}}"
         />
         <link rel="stylesheet" 
         type="text/css" 
         href="{{url_for('static', filename='js/highlight/styles/gradient-dark.min.css')}}">
   </head>
   <body>
      <div class="logo"><a href="/home">Shri.ai</a></div>
      <div class="api-button-container">
         <a href="/api" class="logout-button">API</a>
       </div>
      <div class="container">
         <div class="chat-container">
            <div class="message">
               <span class="user">Shri:</span>
               <span class="text">Ask me to create any function in Python...</span>
            </div>
            {% for entry in conversation %}
            <div class="message">
               <span class="user">{{username}}: </span>
               <span class="text">{{ entry['user'] }}</span>
            </div>
            <div class="message">
               <span class="user">Shri:</span>
               <span class="text">
                  {% if entry.is_code %}
                  <div class="code-block">
                     <pre class="language-python" ><code>{{ entry.response | safe }}</code></pre>
                  </div>
                  <button class="copy-button" data-code="{{ loop.index0 }}">Copy</button>
                  {% else %}
                  <span class="text">{{ entry.response }}</span>
                  {% endif %}
               </span>
            </div>
            {% endfor %}
         </div>
         <form id="message-form" method="post">
            <div class="input-container">
               <textarea
                  id="message-input"
                  name="message"
                  placeholder="Type your message"
                  rows="1"
                  autofocus
                  ></textarea>
               <button id="send-button" type="submit">Send</button>
            </div>
         </form>
         <div class="button-container">
            <a href="/clear" class="clear-button">Clear</a>
         </div>
         <a href="/logout" class="logout-button">Logout</a>
      </div>
      <script src="{{url_for('static', filename = 'js/homepage.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/highlight/highlight.min.js')}}"></script>
      <script>hljs.highlightAll();</script>
   </body>
</html>