<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shri - AI Code Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}" />
  </head>
  <body>
    <div class="container-body">
      <img
        src="static\images\Shri_s_Logo-removebg.png"
        alt="Shri's Logo"
        class="logo"
      />
      <p class="bold-text">Welcome to Shri</p>
      <p class="normal-text">SignUp/Login with your account to continue</p>
      <div class="button-container">
        <a href="/signup" class="button-link">SignUp</a>
        <a href="/login" class="button-link">Login</a>
      </div>
    </div>
  </body>
</html>
