<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Shri AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style-login.css')}}"/>
</head>
<body>
    <div class="container">
        <img src="static\images\Shri_s_Logo-removebg.png" alt="Shri's Logo" class="logo">
        <h2 class="form-title">Log In</h2>
        <form class="login-form" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button class="google-button">Login with Google</button>
            <button type="submit" class="submit-button">Log In</button>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </form>
        <p class="signup-link">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</body>
</html>
