<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Shri AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style-signup.css')}}"/>
</head>
<body>
    <div class="logo-text"><a href="/home">Shri.ai</a></div>
    <div class="container">
        <img src="static\images\Shri_s_Logo-removebg.png" alt="Shri's Logo" class="logo">
        <h2 class="form-title">Create an Account</h2>
        <form class="signup-form" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
            </div>
            <button class="google-button">Google</button>
            <button type="submit" class="submit-button">Sign Up</button>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </form>
        <p class="login-link">Already have an account? <a href="/login">Log in</a></p>
    </div>
</body>
</html>
